---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";
import SideProjectsCard from "@/components/SideProjectsCard.astro";
import type { SPConfig } from "@/lib/types";
let latestPosts = await Astro.glob("./blog-posts/*.md");
latestPosts = latestPosts.slice(0, 4);

export const sideProjects: SPConfig[] = [
  {
    title: "GPTube 😺",
    description: "AI powered agents to your YT channel",
    url: "https://www.gptube.ink/",
    status: "launched 🚀",
  },
  {
    title: "Inventory 📦",
    description: "Notion template to manage your store",
    url: "https://www.inventory.lat/",
    status: "launched 🚀",
  },
];
---

<Layout title="home">
  <h1 class="text-6xl font-bold">I'm Saul</h1>
  <br />
  <div class="flex items-center">
    <p class="w-4/5">
      Hello there my name is Saul. I'm a web developer and a partial time <span
        class="font-bold text-foreground underline"
        ><a href="https://twitter.com/IndieCreatorsHQ">Indie Creator</a></span
      >, I enjoy doing projects and launching them 🚀. That's why I created this
      personal blog where you could find useful resources if you're a developer,
      solo-preneur or just a guy who likes to do stuff on your free times; to
      leverage your knowledge to the next level.
      <br />
       Hope you'll enjoy the content and please follow me on my social networks
      if you want.
    </p>
    <Image
      src={import("../assets/images/profile.jpg")}
      alt="profile_image"
      class="rounded-full w-40 h-40 mx-auto"
    />
  </div>

  <div class="mt-8">
    <h1 class="text-4xl font-sans">Latest blogs</h1>
    <div class="my-4 grid grid-cols-1 md:grid-cols-3 gap-2">
      <div
        class="col-span-1 md:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-2"
      >
        {
          latestPosts.map((post) => (
            <BlogCard
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              body={post.frontmatter.descriptionExtended}
              url={post.url || "/"}
              tags={post.frontmatter.tags}
            />
          ))
        }
      </div>
      <div class="col-span-1">
        <SideProjectsCard sideProjects={sideProjects} />
      </div>
    </div>
  </div>
</Layout>
