---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Icon from "astro-icon";
import { Badge } from "@/components/ui/badge";

interface Props {
  title: string;
  description: string;
  body: string;
  url: string;
  tags: string[];
}

const { url, title, description, body, tags } = Astro.props;
---

<Card className="min-w-full hover:shadow-lg">
  <CardHeader>
    <CardTitle>
      <a href={url} class="flex items-center gap-1 hover:underline"
        >{title} <Icon name="mdi:link-variant" class="w-6 h-6" /></a
      >
    </CardTitle>
    <CardDescription>{description}</CardDescription>
  </CardHeader>
  <CardContent>
    <p>{body}</p>
  </CardContent>
  {
    tags && (
      <CardFooter>
        {tags.map((tag) => (
          <Badge variant="secondary">{tag}</Badge>
        ))}
      </CardFooter>
    )
  }
</Card>
