---
import Layout from "./Layout.astro";
import { formatDate } from "../lib/utils";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1 class="font-bold text-5xl text-center">{frontmatter.title}</h1>
  <p class="text-center text-base pt-2">
    by <a class="underline hover:font-semibold" href={frontmatter.authorURL}
      >{frontmatter.author}</a
    > |
    <span class="font-bold">{formatDate(frontmatter.pubDate)}</span>
  </p>
  <br />
  {
    frontmatter.image && (
      <img
        class="object-cover border p-2 rounded-lg mx-auto mb-2 w-3/4 h-80"
        src={frontmatter.image.url}
        alt={frontmatter.image.alt}
      />
    )
  }
  <div class="prose max-w-fit md:prose-md lg:prose-lg dark:prose-invert">
    <slot />
  </div>
</Layout>
